.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.TripInfo {
  display: inline-block;
  align-content: center;
}

.Stations, .PassengerType {
  display: flex;
}

.Origin, .Destination, .NumPassengers{
  padding: 0.5em;
}

.Date {
  margin-top: 0.25em;
  margin-left: 0.25em;
  height: 1.5em;
  font-size: 2em;
  text-align: center;
}

.input_bar {
  height: 1.5em;
  font-size: 2em;
  text-align: center;
}

.submit {
  font-size: 4em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
