.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Banner {
  width: 100%;
}

.Head {
  display: block;
  background-color: #226D77;
  height: 8em;
  width: auto;
  margin-top: -0.5em;
  padding-top: 1em;
}

.TripInfo {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.Origin, .Destination, .NumPassengers{
  padding: 0.5em;
}

.Origin {
  padding-right: 0;
}

.Date {
  margin-top: 0.35em;
  margin-left: 0.25em;
  height: 1.5em;
  font-size: 1.5em;
  text-align: center;
}

.input_bar {
  height: 1.5em;
  font-size: 1.5em;
  text-align: center;
}

.pass_input {
  height: 1.5em;
  width: 1.5em;
  font-size: 1.5em;
  text-align: center;
  margin-right: -0.35em;
  margin-left: -0.35em;
  color: transparent;
  text-shadow: 0 0 0 black;
}

.pass_input:focus {
  outline: none;
}

.LessPass, .MorePass {
  height: 1.5em;
  width: 1em;
  font-size: 1.5em;
  margin-top: 0.35em;
  line-height: 1.5em;
  text-align: center;
  border-style: solid;
  border-color: #15D388;
  background-color: #15D388;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.submit {
  margin-top: 1em;
  font-size: 1em;
  padding: 0.5em;
}

.Body {
  display: block;
  height: 8em;
  width: auto;
  margin-top: -0.5em;
  padding-top: 1em;
}

.Trips {
  display: flex;
  margin: 2% auto;
}

.Results {
  margin: 0 auto;
}

tr {
  text-align: center;
  /*outline: thin solid;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

td, th {
  outline: solid;
  font-size: 1.3em;
  outline-color: #000000;
  padding: 0.5em;
  white-space: nowrap;
}

tbody {
  outline: solid;
}

th {
  background-color: #15D388;
}

.row {
  background-color: #B8DEEA;
}

.row:hover {
  background-color: yellow;
}

.Modal {
  font-size: 10em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
