.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Banner {
  width: 100%;
}

@media only screen and (max-width: 768px) {
    .input_bar {
      height: 2em;
      width: 90%;
      font-size: 0.7em;
      text-align-last: center;
    }
    
    .Date {
      margin-top: 0.5em;
      margin-left: 0.25em;
      margin-right: 2em;
      height: 1.5em;
      width: 90%;
      font-size: 0.7em;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    .submit {
      margin-top: 1em;
      font-size: 0.7em;
      padding: 0.5em;
    }

    .TripInfo {
      display: block;
    }

    .Trips {
      width: 100%;
    }

    td, th {
      outline: solid;
      font-size: 0.7em;
      outline-color: #000000;
      padding: 0.5em;
      white-space: nowrap;
    }

    .modalPopup {
      width: 50%;
      position: fixed;
    }

    .modalBackground {
      position: fixed;
    }
}

@media only screen and (min-width: 768px) {
    .input_bar {
      height: 1.8em;
      font-size: 1.5em;
      text-align-last: center;
    }

    .Date {
      margin-top: 0.35em;
      margin-left: 0.25em;
      height: 1.5em;
      font-size: 1.5em;
      text-align: center;
    }

    .submit {
      margin-top: 1em;
      font-size: 1em;
      padding: 0.5em;
    }

    td, th {
      outline: solid;
      font-size: 1.3em;
      outline-color: #000000;
      padding: 0.5em;
      white-space: nowrap;
    }

    .modalPopup {
      position: fixed;
    }

    .modalBackground {
      position: fixed;
    }
}

.Head {
  display: block;
  background-color: #226D77;
  height: 8em;
  width: auto;
  margin-top: -0.5em;
  padding-top: 1em;
}

.TripInfo {
  display: flex;
  width: 92%;
  margin: 0 auto;
}

.Origin, .Destination, .NumPassengers{
  padding: 0.5em;
}

.Origin {
  padding-right: 0;
}

.pass_input {
  height: 100%;
  width: 1.5em;
  font-size: 1.5em;
  text-align: center;
  margin-right: -0.35em;
  margin-left: -0.35em;
  margin-top: -0.30em;
  color: transparent;
  text-shadow: 0 0 0 black;
  box-sizing: border-box;
}

.pass_input:focus {
  outline: none;
}

.LessPass, .MorePass {
  height: 100%;
  width: 1em;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  border-color: #E5E8E8;
  background-color: #E5E8E8;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 0;
}

.LessPass:hover, .MorePass:hover {
  background-color: #15D388;
  border-color: #15D388;
}

.LessPass {
  margin-right: 0.2em;
}

.MorePass {
  margin-left: 0.2em;
}

.Body {
  display: block;
  height: 8em;
  width: auto;
  margin-top: -0.5em;
  padding-top: 1em;
}

.Trips {
  display: flex;
  margin: 2% auto;
}

.Results {
  margin: 0 auto;
}

tr {
  text-align: center;
  /*outline: thin solid;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}



tbody {
  outline: solid;
}

th {
  background-color: #15D388;
}

.tripRow {
  background-color: #B8DEEA;
  cursor: pointer;
}

.tripRow:hover {
  background-color: yellow;
}

.Modal {
  font-size: 10em;
}

.ReservationSpecs {
  padding: 5em;
}

.PassengerCount {
  display: flex;
}

.NumAdults, .NumSeniors, .NumChildren, .NumPets, .NumMilitary{
  margin-top: 0.45em;
  height: 100%;
  box-sizing: border-box;
}

.Military {
  float: left;
  margin-top: 1em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.NumPassType {
  margin-top: 1em;
  margin-right: 0.5em;
  display: flex;
  height: 3em;
  border: thin solid;
}

.PassengerDescription {
  margin-top: 1em;
  position: relative;
  padding-right: 6em;
  padding-top: 0.6em;
}

.PassengerType {
  position: absolute;
}

.PassengerAge {
  position: absolute;
  margin-top: 1em;
}

.fareBook {
  display: flex;
  float: right;
  margin-bottom: 4em;
  margin-top: 2em;
  position: static;
}

.bookTrip {
  margin-top: 10%;
  font-size: 1em;
  padding: 0.5em;
  border: thin solid;
  background-color: #E5E8E8;
  cursor: pointer;
}

.fare {
  height: 2.1em;
  width: 8em;
  font-size: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 10%;
  text-align: center;
  box-sizing: border-box;
  background-color: #15D388;
  padding: 0.5em;
  border: thin solid;
}

.form_input {
  height: 1.8em;
  font-size: 1.5em;
  text-align-last: center;
  margin: 0.2em;
}

.x {
  position: relative;
  float: right;
  background: #CDD9D4;
  color: black;
  font-size: 1em;
  border-radius: 100em;
  border: solid black;
  margin-right: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}

.tripsLoader {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.fareLoader {
  margin-top: 3em;
  margin-right: -2em;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
